# OLODIN CUSTOM .gitignore specs
venv/
code43/
quick_runserver.bat
node_modules

# GENERAL IGNORED FILES/DIR
migrations

# FROM: https://gist.github.com/santoshpurbey/6f982faf1eacdac153ffd86a3a694239
# Byte-compiled / optimized / DLL files
.vscode
__pycache__

.DS_Store
*.sqlite3
*.pyc
*.db
*.pid

# HILACAN CUSTOM 
env/
