venv/
quick_runserver.bat

# ARZADON SPECS
Lib/
Scripts/
Scripts/*
#FROM: https://gist.github.com/santoshpurbey/6f982faf1eacdac153ffd86a3a694239

# Byte-compiled / optimized / DLL files
__pycache__

.vscode

.DS_Store
*.sqlite3
*.pyc
*.db
*.pid