<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <title>UI</title>
</head>
<body style="width: 100%; height: 100%; background-color: #ffe016;">
    <div class="container" style="width: 100%; height: 100%; display: block; align-content: center;margin-top: 2%;">
        <div style="display: block; margin: 0px 0px 30px 0px;">
            <div class="nbooks" style="align-content:center; background-color:#e4c60c; padding: 0px 40px 30px 40px;">
                    <div class="row">
                        <h5 style="color: white; background-color: #8a3218; margin: 0px 0px 5px -14px; padding: 1px 10px 1px 10px;">NEWLY ADDED BOOKS!</h5>
                    </div>
                    <div class="row" style="background-color: #a63c1d; border-radius: 4px;">
                        <div class="col-3">
                            <img src="/static/{{mat.Material_image}}" alt="" srcset="" width="200px" height="250px"style="margin: 10px 10px 10px 30px;">
                        </div>
                        <div class="col">
                            <h3 style="width: 80%; color: white; margin: 30px 40px 10px 5px;">{{mat.Material_title}} <i style='font-size:24px;color: white;' class='fas'>&#xf028;</i></h3>
                            <h6 style="color: white; margin-left: 30px;">{{mat.Material_author}}</h6>
                            <p style="color: white; margin-left: 38px; margin-right: 38px; text-align: justify;">{{mat.Material_preface}}</p>
                            <p style="text-align: right; color: white; margin-right: 20px;">7 DAYS DISPLAY PERIOD</p>
                        </div>
                    </div>
            </div>
        </div> 
        <div style="display: block; margin: 30px 0px 0px 0px;">
            <div class="trends" style="align-content:center; background-color: #e4c60c; padding: 30px 30px 30px 30px;">
                <div style="background-color: #a63c1d;  border-radius: 4px;">
                    <div class="row">
                        <u style="color: white;"><b><h3 style="color: white; padding: 20px 0px 10px 50px ;">MOST BORROWED BOOKS OF THE MONTH</h3></b></u>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <img src="{% static 'res/book.jpg'%}" alt="" srcset="" width="140px" height="180px"style="margin: 10px 10px 10px 60px;">
                        </div>
                        <div class="col" style="color: white; ">
                            <div class="row" style="background-color: #8a3218; width: 100%; margin-bottom: 10px;">
                                <div class="col-1">
                                    <h1>#1</h1>
                                </div>
                                <div class="col-8">
                                    <h5>First Book</h5>
                                </div>
                                <div class="col">
                                    <i>
                                    BORROWED 2 TIMES <br>
                                    <span style="height: 10px; width: 10px; background-color: #00ff00; border-radius: 50%; display: inline-block;"></span>
                                    AVAILABLE                                    
                                    </i>
                                </div>
                            </div>                            
                            <div class="row" style="background-color: #8a3218; width: 100%; margin-bottom: 10px;">
                                <div class="col-1">
                                    <h3>#2</h3>
                                </div>
                                <div class="col-8">
                                    <h5>Second Book</h5>
                                </div>
                                <div class="col">
                                    <i>
                                    BORROWED 1 TIMES <br>
                                    <!-- <span style="height: 10px; width: 10px; background-color: #cc6600; border-radius: 50%; display: inline-block;"></span>
                                    UNAVAILABLE -->
                                    <span style="height: 10px; width: 10px; background-color: #00ff00; border-radius: 50%; display: inline-block;"></span>
                                    AVAILABLE    
                                    </i>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</body>
</html>
</html>