<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Library Map</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

		{% load static %} <!-- DJANGO CONVENTION -->
		<link rel="stylesheet" href="{% static 'map/css/map.css' %}">
		<link type="text/css" rel="stylesheet" href="{% static 'map/css/main.css'%}">
		<style>
			.debug{
				display: none;
			}
		</style>
	</head>

	<body class="map">
		<!-- <div id="info">
			<a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - GLTFLoader<br />
			Battle Damaged Sci-fi Helmet by
			<a href="https://sketchfab.com/theblueturtle_" target="_blank" rel="noopener">theblueturtle_</a><br />
			<a href="https://hdrihaven.com/hdri/?h=royal_esplanade" target="_blank" rel="noopener">Royal Esplanade</a> by <a href="https://hdrihaven.com/" target="_blank" rel="noopener">HDRI Haven</a>
		</div> -->
		<div id="map_container" class="map_container">
			<div id="map-viewport_container" class="map-viewport_container">

			</div>

			<div class="map-area-panel">
				<div id="description_container" class="map-area-info">
					<h2>CITU Library Map</h2><br>
					The Library Map aims in teaching you where various section 
					of the library can be found as well as define each sections 
					in the libarry.
				</div>
				<div class="map-area-buttons">
					<button id="but1" class="map-button">Technology [Circulation Section]</button>
					<button id="but2" class="map-button">Periodicals Section</button>
					<button id="but3" class="map-button">Reference Section</button>
					<button id="but4" class="map-button">Conference Booth 1</button>
					<button id="but5" class="map-button">Library Lounge 1</button>
				</div>
				
				<!-- <input style="display: none;" type="text" name="" id="Cx" value="Cx: ">
				<input style="display: none;" type="text" name="" id="Cy" value="Cy: ">
				<input style="display: none;" type="text" name="" id="Cz" value="Cz: ">
				
				<input style="display: none;" type="text" name="" id="Tx" value="Tx: ">
				<input style="display: none;" type="text" name="" id="Ty" value="Ty: ">
				<input style="display: none;" type="text" name="" id="Tz" value="Tz: "> -->

				
				<input class="debug" type="text" name="" id="Cx" value="Cx: ">
				<input class="debug" type="text" name="" id="Cy" value="Cy: ">
				<input class="debug" type="text" name="" id="Cz" value="Cz: ">
				
				<input class="debug" type="text" name="" id="Tx" value="Tx: ">
				<input class="debug" type="text" name="" id="Ty" value="Ty: ">
				<input class="debug" type="text" name="" id="Tz" value="Tz: ">

				<div id="area-1_description" style="display: none;">
					<h2>Technology Section</h2><br>
					Contain various programming book in languges such as python, C/C++, java, etc.
				</div>
				<div id="area-2_description" style="display: none;">
					<h2>Periodicals Section</h2><br>
					Journals currently subscribed and journals received as gift are displayed in the shelves in this section. News papers and popular magazines are also available for reading within the section.
				</div>
				<div id="area-3_description" style="display: none;">
					<h2>Reference Section</h2><br>
					This is the place to go to find dictionaries, encyclopedias, almanacs, 
					bibliographies and other books needed to look up when specific information 
					is needed such as eographical, historical, political and economic maps and atlases. 
				</div>
				<div id="area-4_description" style="display: none;">
					<h2>Booth 1</h2><br>
					Booths near the entrance; Has Multimedia equipemnts, 4 chairs 1 table
				</div>
				<div id="area-5_description" style="display: none;">
					<h2>Lounge 1</h2><br>
					The area where you can enjoy reading, can be found right away upon entering the library
				</div>
			</div>
		</div>	
		

	</body>
	<script type="text/javascript" src="{% static 'map/js/map.js'%}"></script>
	<!-- <script src="../../static/commons/js/waw.js"></script> -->
</html>
